# Wordpress - Dockerified FROM https://github.com/github/gitignore/blob/main/WordPress.gitignore
# Ignore environment variables and sensitive data
.env

# Ignore Composer vendor directory
/vendor/

# Ignore Node modules if you use them
/node_modules/

# Ignore Docker volumes and temporary files
db_data/

# Logs and OS-specific files
*.log
.DS_Store


# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-content/index.php
/wp-content/uploads
/wp-content/mysql.sql
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes